[submodule "themes/iamschulz-hugo-theme"]
	path = themes/iamschulz-hugo-theme
	url = git@github.com:iamschulz/iamschulz-hugo-theme.git
[submodule "iamschulz-hugo-content"]
	path = iamschulz-hugo-content
	url = git@github.com:iamschulz/iamschulz-hugo-content.git
