[submodule "themes/iamschulz-hugo-theme"]
	path = themes/iamschulz-hugo-theme
	url = https://github.com/iamschulz/iamschulz-hugo-theme
[submodule "iamschulz-hugo-content"]
	path = iamschulz-hugo-content
	url = https://github.com/iamschulz/iamschulz-hugo-content
